.container{
    margin: 0% auto;
    width: 800px;
    height: 100px;
    position: relative;
}

.navigation{
    display: flex;
    // column-gap: 3rem;
    position: absolute;
    left: 100px;
    min-height: 40px;
}

.btn-dropdown{
  margin-top: 40px;
  position: relative;
}

.paddA{
  padding: 10px;
  color: #e3dbdb;
  text-decoration: none;
  font-size: 24px;
}

.submenuDropdown ,.profileDropdown{
  position: absolute;
  top: 33px;
  background: rgb(61, 68 ,80);
  white-space: nowrap;
  z-index: 10;
  // display: none;
  display: flex;
  flex-direction: column;
  min-width: 90px;
}

.submenuDropdown a,.profileDropdown a{
  padding: 10px;
  color: white;
  text-decoration: none;
}

.submenuDropdown a:hover, .profileDropdown a:hover{
  background-color: #dbdbdb;
  color: rgb(0, 0, 0);
}

.hover{
  color: rgb(255, 255, 255);
}

.active{
  color: rgb(25, 152, 244);
  text-decoration: underline;
}

.other {
  position: absolute;
  right: 0px;
  top: 10px;
  display: flex;
  column-gap: 0.5rem;
  height: 21px;
  line-height: 21px;
  color: #b8b6b4;
  font-size: 11px;
  z-index: 401;
}

.other a{
  text-decoration: none;
  color: #b8b6b4;
}

.abUs{
  min-width: 50px;
}

.notif{
  border: 1px solid grey;
  border-radius: 10%;
  width: 35px;
  max-height: 21px;
  text-align: center;
  background-color: rgb(39, 45, 54);
  user-select: none;
  transition: background .3s ease-in
}

.notif:hover{
  background-color: grey;
}


.notif i{
  color: rgb(169, 169, 169);
  font-size: 10px;
}


.notifContent{
  border: 1px solid rgb(54, 54, 54);
  position: absolute;
  left: -100px;
  margin-top: 0px;
}

.borderHighlight{
  border: 1px solid rgba(162, 162, 162,50%);
  display: block;
  background-image: linear-gradient(to right, rgb(103, 103, 103) , rgb(39, 42, 49)90%);
  // background-color: rgb(39, 42, 49);
  width: 200px;
  min-height: 70px;
}

.borderHighlight p{
  color: white;
  font-size: 14px;
  margin-left: 7px;
}

.headerNoti{
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  margin-top: 5px;
}

.linkButton button{
  border: 1px solid rgb(158, 158, 158);
  background-color: rgb(103, 103, 103);
  color: whitesmoke;
  border-radius: 10%;
  max-height: fit-content;
  padding: 2px;
}

.bodyNoti{
  width: 180px;
  margin: 5px auto 3px auto;
  background-color: #989898;
  display: flex;
  flex-direction: column;
}

.bodyNoti a{
  color: whitesmoke;
}

.bodyNoti a:hover{
  background-color: #d5d5d5;
}

.descNoti{
  min-height: 40px;
  padding: 10px;
}

.descNoti p{
  margin: 0;
}

.profileName{
  margin: auto;
  min-width: 60px;
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button.pro {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  max-width: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button.pro:hover{
  color: whitesmoke;
}

.profileDropdown{
  top: 20px;
  min-width: 60px;
  max-width: 150px;
  display: none;
}

.profileDropdown a{
  color: white;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profileDropdown a:hover{
  color: rgb(39, 45, 54);
  background-color: #b8b6b4;
}
